<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.smaug.obsidian</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/mayanklavania/moonshot_projects/smaug-obsidian/smaug-obsidian.sh</string>
        <string>run</string>
    </array>
    <key>StartInterval</key>
    <integer>43200</integer>
    <key>StandardOutPath</key>
    <string>/Users/mayanklavania/moonshot_projects/smaug-obsidian/smaug.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/mayanklavania/moonshot_projects/smaug-obsidian/smaug.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>
